---
layout: default
---

{{ content }}
{% assign contentwonl = content | strip_newlines %} {% unless contentwonl == ""  %} <br /> {% endunless %} <!-- add line break if there is any content -->

{%- if site.posts.size > 0 -%}
<p>MacBook Pro:~ root# top -n10</p>
<p>Date   Type   Title
  <ul>
    {%- for post in site.posts limit:10 -%}
    <li id="linuxtic-li">
      {%- assign date_format = "%y%m%d" -%}
      {{ post.date | date: date_format }}
      {{ post.category }}
      <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
    </li>
    {%- endfor -%}
  </ul>
{%- endif -%}
